<mat-tab-group color="basic" backgroundColor="primary" class="tabs mat-elevation-z4">
    <mat-tab label="Solution">
        <div class="solution-container">
            <mat-card class="solution-card" *ngFor="let solvedVar of solvedVariables">
                <mat-card-content class="solution-card-content">
                    <mat-label color="primary" class="variable-name">{{solvedVar.name}}</mat-label>
                    =
                    <mat-label color="accent" class="variable-value">{{solvedVar.value}}</mat-label>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Guess Values"></mat-tab>
    <mat-tab label="Settings">
        <div class="settings-container">
            <mat-card class="setting-card">
                <mat-card-content class="setting-card-content">
                    <label class="setting-card-label">Trigonometry Mode</label>
                    <mat-radio-group class="setting-card-input" [(ngModel)]="trigMode">
                        <mat-radio-button class="trig-radio-button" *ngFor="let mode of trigModes" [value]="mode">
                            {{mode}}
                        </mat-radio-button>
                    </mat-radio-group>
                </mat-card-content>
            </mat-card>

            <mat-card class="setting-card" *ngFor="let settingItem of settingItems">
                <mat-card-content class="setting-card-content">
                    <label class="setting-card-label">{{settingItem.label}}</label>
                    <mat-form-field color="accent" class="setting-card-input">
                        <input matInput [formControl]="settingItem.formControl" required>
                        <mat-error *ngIf="settingItem.formControl.invalid">{{getNumErrorMessage(settingItem.formControl)}}</mat-error>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>