.tabs {
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.settings-container {
    display: flex;
    flex-flow: column wrap;
    margin: 10px;
}

.setting-card {
    margin: 5px;
    flex: 0 0 auto;
}

.setting-card-content {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.setting-card-label {
    font-size: large;
}

:host ::ng-deep .mdc-form-field label {
    font-size: large;
}

.solution-container{
    display: flex;
    flex-flow: row wrap;
}

.solution-card{
    flex: 0 0 auto;
    margin: 5px;
}

.variable-value{
    color: #FF5370;
}

.variable-name{
    color: #FFCB6B;
}
