:host() ::ng-deep .CodeMirror{
    height: 100%;
}

.code-editor-wrapper {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
  }

.code-editor{
    flex: 1;
    overflow: auto;
  }
  
.code-editor-header{
   flex: 0 0 auto;
}
