<form [formGroup]="settingsForm" class="settings-container">
    <mat-card class="setting-card" *ngFor="let settingItem of settings">
        <mat-card-content class="setting-card-content">
            <label class="setting-card-label">{{settingItem.name}}</label>

            <mat-form-field *ngIf="settingItem.type == 'select'" color="accent" class="setting-card-input">
                <mat-select formControlName={{settingItem.name}}>
                    <mat-option *ngFor="let option of settingItem.options" [value]="option">{{option}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="settingItem.type == 'number'" color="accent" class="setting-card-input">
                <input matInput formControlName={{settingItem.name}} required>
                <mat-error *ngIf="settingItem.type == 'number' && settingsForm.get(settingItem.name)?.invalid">Enter a
                    valid number!</mat-error>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
</form>