<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a mat-button [routerLink]="''" class="navbar-buttons"> Solver </a>
        <a mat-button [routerLink]="'/about'" class="navbar-buttons"> About </a>
        <span class="example-spacer"></span>
        <a mat-button href="https://www.linkedin.com/in/dmitrii-turygin/" class="navbar-buttons" target="_blank">My LinkedIn</a>
        <a mat-button href="https://github.com/tvdmitrii?tab=repositories" class="navbar-buttons" target="_blank">My GitHub</a>
    </mat-toolbar-row>
</mat-toolbar>