.solution-page {
  display: flex;
  height: 100%;
  flex-flow: row nowrap;
  overflow: auto;
}

.item-code-editor {
  flex: 2;
  overflow: auto;
  margin: 10px;
  margin-right: 5px;
  border-radius: 10px;
}

.item-side-bar {
  flex: 1;
  margin: 10px;
  margin-left: 5px;
}

.tabs {
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
  